.login-container {
  width: 550px !important;
  margin-top: 45px;
}

.home-container {
  width: 85% !important;
}

.text-right {
  text-align: right !important;
}

.pt {
  padding-top: 0.75em;
}

.mt {
  margin-top: 0.5em !important;
}

.mb {
  margin-bottom: 0.5em !important;
}

textarea {
  resize: none !important;
}